<div>
    <h1>Any to Any Comp Commn - Demo </h1>
    <h2>My Profile</h2>
    <p>Data coming from Account Data Service is : {{accountName}}</p>

    <input type="text" [(ngModel)]="duplicatAccountName" class="form-control">
    <button type="button" class="btn btn-primary"
    (click)="updateAccountHandler()">Update Account Name</button>

    <hr>
    <h2>Pipes - demo</h2>
    <p>{{today}}</p>
    <p>{{today | date }}</p>
    <p>{{today | date: 'dd/MMM/yyyy' }}</p>
    <p>{{today | date: 'MMMM dd, yyyy hh:mm:ss a' }}</p>

    <p>{{randomText}}</p>
    <p>{{randomText |uppercase}} </p>
    <p>{{randomText |titlecase}}</p>
    <h3>custom pipes</h3>
    <pre>ng g p shared/pipes/ellipsis</pre>

    <p>{{randomText}}</p>
    <p>{{randomText | ellipsis }}</p>
    <p>{{randomText | ellipsis: '24'}}</p> <!--paramaterised pipes-->

</div>